#Simulate delay on db queries in miliseconds
SIMULATE_WAIT_IN_MS=0
#Max size for image upload, in bytes
#Default=921600 (1024 * 900; roughly 900KB)
NEXT_PUBLIC_IMAGE_UPLOAD_MAX_SIZE=921600
#Folder for storing uploaded images
#Do not confuse with static images served by NextJS, available on /public
IMAGE_UPLOAD_DIRECTORY='uploads'
#Full URL for image server without final forward-slash '/'
#Default='http://localhost:3000'
#Usecase example: localhost:3000/uploads/image-name.jpeg
IMAGE_SERVER_URL='http://localhost:3000'